body{
  background-color: black;
}
.topc{
  background-color: black;
  margin: 0;
  height: 900px;
  position:absolute;
  top:0;
  left:0;
}
img
{
  height: 200px;
  width :100px;
  float: left;
  padding-left: 8px;
  padding-right: 10px;
}
.right{
  height: 200px;
  width :100px;
  float: right;
  padding-left: 10px;
  padding-right: 8px;
}
.middlec{
  background-color: #eaf6f6;
  margin: 0;
  position:absolute;
  top:900px;
  left:0;
  width:1510px;
}
.celeb{
  position:relative;
  right:350px;
  top:-400px;
  height:80px;
  width:100px;
}
.cheers{
  position:relative;
  left:500px;
  top:-300px;
  height:150px;
  width:150px;
}
.lights{
  position:relative;
  height:369.5px;
  width:735px;
  left:300px;
  top:-666px;
}
p
{font-family: 'Cookie', cursive;
font-size: 3em;}
.cake{
  position:relative;
  right:195px;
  top:-400px;
  height:120px;
  width:130px;
}
.date{
    position:relative;
    height:660.5px;
    width:1510px;
}
