body{
  background-color: black;
  margin: 0;
  position:absolute;
  top:0;
  left:0;
}
.celeb{
  position:relative;
  right:350px;
  top:-395px;
  height:80px;
  width:100px;
}
.cake{
  position:relative;
  right:195px;
  top:-400px;
  height:120px;
  width:130px;
}
.cheers{
  position:relative;
  right:240px;
  top:-200px;
  height:150px;
  width:150px;
}
.lights{
  position:relative;
  height:369.5px;
  width:735px;
  left:300px;
  top:-666px;
}
.light{
  position:relative;
  height:50px;
  width:50px;
  left:-630px;
  top:-940px;
  filter: brightness(0.75);
}
.light1{
  position:relative;
  height:50px;
  width:50px;
  left:-600px;
  top:-860px;
  filter: brightness(0.75);
}
.date{
    position:relative;
    height:660.5px;
    width:1510px;
   filter: brightness(1.5);
}
