h1 {
  margin: 0;
  height:100px;
  font-family: 'Aclonica', sans-serif;
  font-size: 3em;
  color: #d61d4e;
}
h4{
  font-family: 'Lobster Two', cursive;
}
body{
  margin: 0;
  background-color:bisque;
  position:absolute;
  top:0;
  left:0;
  text-align: center;
}
.login{
  font-family: 'Rye', cursive;
  font-size: 30px;
}
img{
  position:relative;
  height:2117.5px;
  width:1520px;
}
.text{
  position:absolute;
  left:21.5em;
  top:57.5em;
  color:#e43f5a;

}
