body {
  margin: 0;
  text-align: center;
  background-color: #e6e6ff;
}
.top-container{
  padding: 20px;
  items-align: centre;
}
.bottom-container{
  padding: 20px;
  items-align: centre;
}
