h1 {
  margin: 0;
  height:100px;
  font-family: 'Aclonica', sans-serif;
  font-size: 3em;
  color: #d61d4e;
}
h4{
  font-family: 'Lobster Two', cursive;
}
body{
  margin: 0;
  background-color: bisque;
  position:absolute;
  top:0;
  left:0;
  text-align: center;
}
.login{
  font-family: 'Rye', cursive;
  font-size: 30px;
}
img{
  position:relative;
  height:2117.5px;
  width:1460px;
}
.submit
{
  background: #e43f5a;
  background-image: -webkit-linear-gradient(top, #e43f5a, #fc8aba);
  background-image: -moz-linear-gradient(top, #e43f5a, #fc8aba);
  background-image: -ms-linear-gradient(top, #e43f5a, #fc8aba);
  background-image: -o-linear-gradient(top, #e43f5a, #fc8aba);
  background-image: linear-gradient(to bottom, #e43f5a, #fc8aba);
  -webkit-border-radius: 7;
  -moz-border-radius: 7;
  border-radius: 7px;
  font-family: 'Press Start 2P', cursive;
  border-style: hidden;
  color: #ffffff;
  font-size: 14px;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
}
.text{
  position:absolute;
  left:21.5em;
  top:57.5em;
  color:#e43f5a;

}
