body {
  margin: 0;
  text-align: center;
}


h1 {
  margin: 0 auto 0 auto;
}
.top-container{
  background-color: #cff6cf;
  position: relative;
  padding: 67.5px;
}
.middle-container{
  position: relative;
  padding: 67.5px;
}
.bottom-container{
  background-color: #cff6cf;
  position: relative;
  padding: 67.5px;
}
.tea{
position:absolute;
left: 10px;
top: 23.5px;
}
.ch{
position:absolute;
right: 10px;
top: 5.5px;
}
.girl{
position:absolute;
left: 10px;
top: 25.5px;
}
img{
  height:200px;
  width: 200px;
}
